h1{
    text-align: center;
    background-color: aqua;
    color:brown;
    border: 100%;
    padding: 10px;
    margin:0;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;       
}
li{
    float: left;
}
li a{
    display: block;
    color: rgb(255, 166, 0);
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;    
}
li a:hover{
    background-color: blueviolet;
}
h2{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

table, th, td{
    color: azure;
    font-size: 50px;
    border: 10px solid blueviolet;    
}
td{
    text-align: center;
}

form, label{
    color: azure;
}
table,tr,td a{
    color: white;
}

section,ol{
    color: white;
}

.contenedor img{
    width: 600px;
    
}

h3{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color:black

}
.contenedor{
    color: aliceblue;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form{
    font-size: 2rem;
}